/* Import website font */
@import url('https://stockfont.org/?ce2e9ac4b29247ba5052b77b46d29fc9ebea3bc0c7da76c24d106c3c8ff42721');

* {margin: 0; padding: 0;}

nav ul ul {overflow: hidden; position: absolute; display: block; background-color: #333; width: 200px; margin-left: 20px; max-height: 0px; -webkit-transition: max-height 0.5s; transition: max-height 1s;}

nav li:hover ul {  max-height: 500px;}
nav ul ul li {float: none; width: auto; }

html {font-family: 'Oxygen-Regular', times, verdana, sans-serif; }

body {background-color: #fff;}
header {background-color: #778baf
; color: white;

height: 200px;

}



nav {width: 100%; background-color: #333; overflow: auto;}
nav ul {width: 1000px; margin: auto; display: block; list-style-type: none;}
nav ul li {width: 25%; float: left; overflow: auto; text-align: center;}
nav a {color: white; padding-top: 10px; display: block; text-decoration: none;}

header section {  display: block;}

header h1 {font-weight: bold; font-style: italic;}


h1 { font-size:4em; color: white; text-align: center; padding-top: 20px; text-shadow: 2px 2px 2px #000;}

main {min-height: 50vh; background-color: #ddd; width: 70vw; display: block; margin: auto; box-shadow: 0px 0px 10px #888; color:#444;}

main h2 {font-size:2em;}
.home {padding: 5vw; width: 60vw;}

p, li, h2 {margin-bottom: 1em;}
ol {margin-left: 30px;}

pre {margin-top: 20px;}
code {background-color: #ccc;}
pre code {display: block;}

footer {background-color: #ccc; padding: 10px;}

form {padding-top: 2em; margin-top: 2em; border-top: 1px solid #888;}
form select, form label, form input, form textarea {float: left; width: 200px; padding: 10px; margin-top: 20px;}
form label{clear: left;}
textarea {height: 100px;}
form input[type="text"], form input[type="password"], textarea {color: #999; font-family: verdana, sans-serif}
input[type="submit"] {clear: both; margin-left: 220px; width: 220px;}

section a {color: #444;}

form select {width: 220px;}
table {width: 100%; margin-top: 20px;}
td {padding: 5px; border-bottom: 1px solid #333;}

.jobs {list-style-type: none}
.jobs strong {width: 150px; float:  left; clear: left;}
.jobs p {width: 500px; float: left;}

.jobs li {padding-top: 20px; padding-bottom: 20px; border-bottom: 2px solid #aaa; overflow: auto}
.jobs a {float: right; clear: both;}

img.shop {width: 800px;}

.stock, .admin {display: table;}
.stock > ul, .admin .left { width: 10vw; list-style-type: none; display: table-cell; padding: 10px; background-color: #555; margin: 0;}

.stock .products, .admin .right {display: table-cell; padding: 20px;}

.stock > ul a, .admin .left a {color: white; text-decoration: none;}

table td input[type="submit"] {margin: 0; float: right; width: auto; padding: auto;}

ul {margin-left: 2em;}

body > img {display: block; width: 100%;}


main {display: table;}
main > article {display: table-cell; padding: 2em;}
main > nav {display: table-cell; width: 20%; padding: 2em;}
main > nav li {float: none; width: auto; text-align: left;}
main > nav ul {width: auto;}

.registerH{
    font-size:20px;
    height: 100px;
}
.registerH h1{
    font-size:30px;
}

.populate-cat{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    padding: 2vh;
    height:max-content;
    width: 25%;
    margin-right: 4vw;
    margin-top: 20px;
    text-align: center;
    color: white;
}
.hik{
    color: white;
    text-decoration: none;
}

.articleCreateMapper{
    margin-bottom: 5vh;
}

.populate-cat:hover{
    background-color: rgb(77, 76, 76);
}

.str{
    color:white;
    background-color: #444;
}
.artPop{
    display: inline-block;
    color: white;
    background-color: black;
    padding: 2vh;
    height:18vh;
    text-align: center;
    width: 18vw;
}

.outerCon{
    display: inline-block;
    background-color: #000;
    padding: 2vh;
    height:max-content;
    width: 38%;
    margin-right: 6vw;
    margin-top: 20px;
    color: white;
}

.outerConP{
    display: inline-block;
    background-color: #000;
    padding: 2vh;
    border-bottom: 2px solid white;
    height:max-content;
    width: 100%;
    margin-right: 6vw;
    margin-top: 20px;
    color: white;
}

#noStyle{
    padding-top: 1em;
    margin-top: 0;
    border-top: 0px solid #888;
}

#noStyle button{
    border: none;
    color: white;
    background-color: #333;
}

.styleNo{
    padding-top: 1em;
    margin-top: 0;
    border-bottom: 1px solid white;
    border-top:0;
}

.hhk{
    text-decoration: none;
    color: white;
}

.hhk:hover{
    background-color: green;
}

.newwer{
    display: block;
    border-top: 2px solid grey;
    width:100%;
    padding-top: 1em;
    float: left;
    clear: left;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: 20px;
}

.newStyo{
    float: left;
    clear: left;
    padding-top: 10px;
    display: block;
    border-bottom: 2px solid grey;
    width:100%;

}

.mo{
    text-decoration: none;
    clear: left;
    display: block;
    border-radius: 5px;
    background-color: purple;
    color: white;
    padding: 10px;
    float: left;
    padding-left: 33.5px;
    padding-right: 33.5px;
}
.noo{
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    float: right;
}
.moo{
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    float: left;
    margin-bottom: 5px;
}

.moo:hover{
    background-color: purple;
}
.noo:hover{
    background-color: purple;
}
.mo:hover{
    background-color: white;
    color: black;
}

.to{
    text-decoration: none;
    clear: left;
    display: block;
    border-radius: 5px;
    background-color: purple;
    color: white;
    padding: 10px;
    float: left;
    padding-left: 27px;
    padding-right: 27px;
}

.no{
    text-decoration: none;
    display: block;
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 10px;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}

.to:hover{
    background-color: black;
}
.no:hover{
    background-color: black;
}
.newBtn{
    text-decoration: none;
    display: block;
    border-radius: 5px;
    background-color: purple;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.newBtn:hover{
    background-color: black;
}
.hoverMe p:hover{
    background-color: green;
    color: white;
}
.logDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.formLog{
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 2px 2px grey;
    width: 30vw;
    height: 75vh;
}

.picHold{
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px 2px grey;
    justify-content: center;
    background-color: #B7CBC0;
    width: 40vw;
    height: 75vh;
}

.sora{
    background-color: rgb(64, 64, 64);
    color: white;
    border: none;
    padding: 8px 35px 8px 35px;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 15px;
}

.buttonSign{
    display: block;
    float: right;
    margin-top: 2vh;
    margin-right: 1.5vw;
    background-color: green;
    color: white;
    width: 60px;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px green;
}

#emailStore{
    width: 250px;
    border: none;
    outline: none;
    margin-left: 50px;
    float: left; width: 250px; padding: 10px; margin-top: 0px;
    padding-top: 0;
    border-bottom: 1px solid rgb(161, 159, 159);
}
#passStore{
    width: 250px;
    border: none;
    float: left; width: 250px; padding: 10px; margin-top: 3px;
    padding-top: 0;
    outline: none;
    margin-left: 50px;
    border-bottom: 1px solid rgb(161, 159, 159);
}

.storePie{
    float: none;
    display: inline-block;
    font-size: 13px;
    padding: 0px; margin-top: 10px;
    clear: left;
    margin-left: -18em;
    border-bottom: 5px;
    color: grey;
}

.storo{
    margin-bottom: 30px;
}

.newp{
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
}


.registerH{
    font-size:20px;
    height: 100px;
}
.registerH h1{
    font-size:30px;
}

#registerPart{
    background-color: #B7CBC0;
    width: 60vw;
    height: max-content;    
}
#registerPart h1{
    text-align: center;
}

#registerPart h1:after{
    margin-top: 10px;
    content: " ";
    display: block;
    height: 2px;
    background-color: black;
}

.he{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registerPart label{
    margin: 0;
    color: black;
}

#registerPart input{
    margin-bottom: 10px;
}

.inner{
    padding-left: 7vw;
    display: block;
    width: 53vw;
}

.ouIn{
    display: inline-block;
    margin-right: 5vw;
}

.btnRe{
    display: block;
    text-align: center;

}

.sorat{
    background-color: rgb(64, 64, 64);
    color: white;
    border: none;
    padding: 8px 35px 8px 35px;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 15px;
    margin-bottom: 40px;
}

.registerLa{
    border-top: 0px;
}